.text-field-container {
    width: 100%;
    font-family: "Poppins" !important;
}

.text-field-container .MuiInputBase-root {
    margin-top: 0px; /* Material UI MARGIN deleting*/
    background-color: var(--gray);
    padding: 2px !important;    
}

.text-field-icon-start {
    font-size: var(--font-size-large);
    margin-left: 12px;
}

.text-field-icon-end {
    font-size: var(--font-size-large);
    margin-right: 12px;
    pointer-events: none;
}

.text-field-helper-group {
    position: relative;
    font-size: small;
    color: var(--secondary-color);
    left: 8px;
}

.text-field-error-color {
    color: var(--red) !important;
}