.current-crime-page .form-background{
  width: 100%;
  height: 100%;
  min-height: fit-content;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: transparent;
}

.current-crime-page .form-wrap{
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--border-normal);
  background-color: var(--card-background);
}

.current-crime-page .form-subtitle {
  color: var(--gray);
  font-size: var(--font-size-large);
  font-weight: var(--weight-bold);
}
