:root {
  --white: #fff;
  --light-gray: #ebebf3;
  --grey: #c6ceda;
  --green: #4fce6c;
  --cyan: #a4eceb;
  --violet: #5063bb;
  --light-violet: #e0e4fa;
  --gray: #626284;
  --black: #1b1b25;
  --orange: #ff9a57;
  --red: rgb(255, 106, 106);

  /* BOX SHADOW */
  --box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);

  /* SIZES */
  --smallest-size: 14px;
  --small: 16px;
  --normal-size: 18px;
  --medium: 20px;
  --big: 22px;
  --large: 26px;
  --extra-large: 30px;

  /* TIPOGRAFY SIZE */
  --font-size-little: x-small; /*14px;*/
  --font-size-small: small; /*16px;*/
  --font-size-normal: medium; /*18px;*/
  --font-size-large: large; /*20px;*/
  --font-size-extra-large: larger; /*22px;*/
  --font-size-big: x-large; /*26px;*/
  --font-size-extra-big: xx-large; /*30px;*/

  /* MARGIN */
  --margin-top: 25px;
  --margin-bottom: 26px;

  /* BORDER */
  --border-small: 7px;
  --border-normal: 15px;
  --border-big: 30px;
  --border-circle: 1000px;

  /* TIPOGRAFY WEIGHT */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;

  /* LABELS HEIGHT SIZE */
  --height-smallest-size: 15px;
  --height-small: 25px;
  --height-normal-size: 35px;
  --height-medium: 45px;
  --height-big: 55px;
  --height-large: 65px;
  --height-extra-large: 75px;
}

* {
  font-family: "Poppins", sans-serif !important;
}

body,
html {
  background-color: var(--light-gray) !important;
}

input,
label {
  font-family: "Poppins", sans-serif !important;
  font-size: var(--font-size-small);
}

p,
ul,
li {
  font-size: var(--font-size-small);
  font-weight: var(--weight-regular);
  font-family: "Poppins", sans-serif !important;
  color: var(--black);
  margin: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-bold);
  margin: 2px;
}

.hover:hover {
  cursor: pointer;
}

/* SCROLLBAR */
/* width */
*::-webkit-scrollbar {
  position: fixed !important;
  right: 0px !important;
  width: 7px !important;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--grey) !important;
  border-radius: var(--border-normal) !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--gray) !important;
}


/* Margin */
.m-0 {
  margin: 0px !important;
}
.m-1 {
  margin: 6px !important;
}
.m-2 {
  margin: 12px !important;
}
.m-3 {
  margin: 24px !important;
}
.m-4 {
  margin: 32px !important;
}
.m-left-1 {
  margin-left: 6px !important;
}
.m-left-2 {
  margin-left: 12px !important;
}
.m-left-3 {
  margin-left: 24px !important;
}
.m-left-4 {
  margin-left: 32px !important;
}
.m-top-1 {
  margin-top: 6px !important;
}
.m-top-2 {
  margin-top: 12px !important;
}
.m-top-3 {
  margin-top: 24px !important;
}
.m-top-4 {
  margin-top: 32px !important;
}
.m-bottom-1 {
  margin-bottom: 6px !important;
}
.m-bottom-2 {
  margin-bottom: 12px !important;
}
.m-bottom-3 {
  margin-bottom: 24px !important;
}
.m-bottom-4 {
  margin-bottom: 32px !important;
}
.m-right-1 {
  margin-right: 6px !important;
}
.m-right-2 {
  margin-right: 12px !important;
}
.m-right-3 {
  margin-right: 24px !important;
}
.m-right-4 {
  margin-right: 32px !important;
}

/* Padding */
.p-1 {
  padding: 6px !important;
}
.p-2 {
  padding: 12px !important;
}
.p-3 {
  padding: 24px !important;
}
.p-left-1 {
  padding-left: 6px !important;
}
.p-left-2 {
  padding-left: 12px !important;
}
.p-left-3 {
  padding-left: 24px !important;
}
.p-top-1 {
  padding-top: 6px !important;
}
.p-top-2 {
  padding-top: 12px !important;
}
.p-top-3 {
  padding-top: 24px !important;
}
.p-bottom-1 {
  padding-bottom: 6px !important;
}
.p-bottom-2 {
  padding-bottom: 12px !important;
}
.p-bottom-3 {
  padding-bottom: 24px !important;
}
.p-right-1 {
  padding-right: 6px !important;
}
.p-right-2 {
  padding-right: 12px !important;
}
.p-right-3 {
  padding-right: 24px !important;
}

.p-4 {
  padding: 48px !important;
}
.p-left-4 {
  padding-left: 48px !important;
}
.p-right-4 {
  padding-right: 48px !important;
}
.p-bottom-4 {
  padding-bottom: 48px !important;
}
.p-top-4 {
  padding-top: 48px !important;
}
.p-0 {
  padding: 0px !important;
}
.p-bottom-0 {
  padding-bottom: 0px !important;
}
.p-left-0 {
  padding-left: 0px !important;
}
.p-right-0{
  padding-right: 0px !important;
}
.p-top-0{
  padding-top: 0px !important;
}

.first-letter-cap::first-letter {
  text-transform: uppercase;
}

.color-white {
  color: var(--white) !important;
}

.color-background-color {
  color: var(--background-color) !important;
}

.color-light-gray {
  color: var(--gray) !important;
}

.color-grey {
  color: var(--grey) !important;
}

.color-green {
  color: var(--green) !important;
}

.color-cyan {
  color: var(--cyan) !important;
}

.color-violet {
  color: var(--violet) !important;
}

.color-gray {
  color: var(--gray) !important;
}

.color-black {
  color: var(--black) !important;
}

.color-orange{
  color: var(--orange) !important;
}

.color-red{
  color: var(--red) !important;
}

.color-light-violet{
  color: var(--light-violet) !important;
}

.background-color-white{
  background-color: var(--white) !important;
}
.background-color-background-color{
  background-color: var(--background-color) !important;
}
.background-color-light-gray{
  background-color: var(--light-gray) !important;
}
.background-color-grey{
  background-color: var(--grey) !important;
}
.background-color-green{
  background-color: var(--green) !important;
}
.background-color-cyan{
  background-color: var(--cyan) !important;
}
.background-color-violet{
  background-color: var(--violet) !important;
}
.background-color-gray{
  background-color: var(--gray) !important;
}
.background-color-black{
  background-color: var(--black) !important;
}
.background-color-orange{
  background-color: var(--orange) !important;
}
.background-color-red {
  background-color: var(--red) !important;
}
.background-color-light-violet{
  background-color: var(--light-violet) !important;
}

.border-small {
    border-radius: var(--border-small) !important;
}
.border-normal {
  border-radius: var(--border-normal) !important;
}
.border-big {
  border-radius: var(--border-big) !important;
}
.border-circle {
  border-radius: var(--border-circle) !important;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

  .w100{
    font-weight: 100 !important;
  }
  .w200{
    font-weight: 200 !important;
  }
  .w300{
    font-weight: 300 !important;
  }
  .w400{
    font-weight: 400 !important;
  }

  .w500{
    font-weight: 500 !important;
  }

  .w600{
    font-weight: 600 !important;
  }

  .w700{
    font-weight: 700 !important;
  }

  .w800{
    font-weight: 800 !important;
  }


/* Font-Size */
.font-size-little {
  font-size: var(--font-size-little) !important;
}
.font-size-small {
  font-size: var(--font-size-small) !important;
}
.font-size-normal {
  font-size: var(--font-size-normal) !important;
}
.font-size-large {
  font-size: var(--font-size-large) !important;
}
.font-size-extra-large {
  font-size: var(--font-size-extra-large) !important;
}
.font-size-big {
  font-size: var(--font-size-big) !important;
}
.font-size-extra-big {
  font-size: var(--font-size-extra-big) !important;
}

.hover:hover {
  cursor: pointer;
}

.width-100{
  width: 100px;
}

.width-200{
  width: 200px;
}

.width-300{
  width: 300px;
}

.width-400{
  width: 400px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}