.home-page {
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--border-normal);
  background-color: var(--light-gray);
}

.home-wrap {
  border-radius: var(--border-normal);
  background-color: var(--light-gray);
}

.home-page .home-subtitle {
  color: var(--gray);
  font-size: var(--font-size-normal);
  font-weight: var(--weight-normal);
}

.home-page .instructions {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1419px){ 
  .img-desktop{
    display: none;
  }
}

