.leaflet-container {
    width: 100%;
    height: 300px;
    border-radius: var(--border-small);
    z-index: 1;
}

.map-label {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
    font-weight: var(--weight-bold);
    padding-left: 20px;
    padding-right: 20px;
}

.map-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.map-error-color {
    color: var(--red) !important;
}

.map-msg {
    font-size: var(--font-size-little);
    color: var(--secondary-color);
    padding-left: 10px;
    padding-right: 10px;
}

.leaflet-geosearch-bar {
    position: relative;
    display: block;
    height: auto;
    width: 400px;
    max-width: calc(100% - 120px);
    margin: 10px auto 0;
    cursor: auto;
    z-index: 1000;
}