.layout-basic-header{
    z-index: 2;
    position: sticky;
    top: 0;
    background-color:  var(--light-gray);
}

.layout-basic-content {
    height: fit-content;
    width: auto;
    padding-top: 70px;
}